body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(121,9,94,1) 35%, rgba(61,234,165,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

.user-back {
    color: rgb(121, 15, 121);
    padding: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-edit {
    margin-left: 10rem;
    margin-right: 1rem;
}

.btn-lila {
    background-color: rgb(121, 15, 121);
    color: rgb(240, 199, 199);
    font-weight: bold;
}

.btn-green {
    background-color: rgb(31, 167, 112);
    color: rgb(232, 236, 234);
    font-weight: bold;
    margin-right: 0.5rem;
}

#firstName-error, #lastName-error, #email-error   {
    color: rgb(240, 199, 199);
    font-weight: bold;
}


.btn-light:hover {
    background-color: rgb(240, 199, 199);
    border-color: transparent;
}
