body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(121,9,94,1) 35%, rgba(61,234,165,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

.user {
    color: rgb(121, 15, 121);
    padding: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-edit {
    margin-left: 10rem;
    margin-right: 1rem;
}

i {
    color: rgb(121, 15, 121);
}

